.postHead {
  position: relative;
  display: flex;
  align-items: center;
}

.postHead .user {
  align-items: normal !important;
}

.followBtnWrapper {
  position: absolute;
  right: 3.5rem;
}

.followBtnWrapper button{
  display: flex;
  gap: 0.4rem;
}

.followBtn {
  font-size: 0.9rem;
  background-color: white;
  color: #0a66c2;
  border: none;
}

.followBtn:hover {
  text-decoration: underline;
}

.followedBtn {
  font-size: 0.9rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  background-color: rgb(219, 212, 212);
  color: black;
  border: none;
}

.followedBtn:hover {
  background-color: rgb(203, 197, 197);
}

.followBtn, .followedBtn i {
  
}

.ellipsis {
  position: absolute;
  top: 0;
  right: 0;
}
