.postform {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 42rem;
  height: fit-content;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formBody {
  overflow-x: hidden;
  overflow-y:auto;
  margin: 0 0 2rem 0;
  max-height: 20rem;
}

.formBody::-webkit-scrollbar {
  display: none;
}

.previewImg {
  position: relative;
  width: 100%;
}

.previewImg img {
  height: 25rem;
  width: 99%;
  border-radius: 0.6rem;
}

.postOptions {
  display: flex;
  gap:1rem;
  margin: 1rem 0 0 0;
}

.postform i{
  font-size: 1.2rem;
   color: #666666;
}

.postform i:hover{
  color: #444;
}

.xmark{
  margin:0 0 0.5rem 0;
}

.xmark i{
  margin-right: 0.2rem;
  font-size: 1.3rem;
}

.footer {
  width: 100%;
  border-top: 0.5px solid #444;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}

.footerOptions{
  margin: 0 1rem 0 0rem;
  display: flex;
  align-items: center;
  gap:0.5rem;
}

.postScheduler{
  position: absolute;
  right: -20rem;
  bottom: 5rem;
  background-color: lightblue;
  padding: 1rem;
  width: 14rem;
}

.hidden{
  display: none;
}