.profile {
  position: absolute;
  top: 7rem;
  left: 13rem;
  overflow: auto;
}

.bodyyy {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-around;
  align-items: center;
}

.bodyyy div {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0 0.6rem 0;
  width: 21.5rem;
  height: 3.2rem;
  border-radius: 0.4rem;
  padding: 1rem 0.5rem;
  background-color: beige;
  border: 1px solid gray;
}

.bodyyy div:hover {
  cursor: pointer;
}
