.homepage {
  height: fit-content;
  width: 99%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 4rem;
}

.no-scroll {
  overflow: hidden;
}

.sideTab {
  height: 40rem;
  width: 13rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.6rem;
  margin-top: 2rem;
}

.feed {
  width: 36rem;
  border-radius: 0.6rem;
  margin: 2rem 2rem 0 2rem;
}

.sideTab2 {
  height: 40rem;
  width: 18rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.4rem;
  margin-top: 2rem;
}
