.chat {
  position: relative;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  height: 3.5rem;
  background-color: #f4f2ee;
  border-bottom: 1px solid gray;
  padding: 0.3rem;
}

.chat:hover {
  cursor: pointer;
}

.chatInfo {
  display: flex;
  gap: 0.3rem;
}

.name {
  font-size: 1;
  font-weight: 500;
}

.lastMsg {
  font-size: 0.8rem;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.datetime {
  font-size: 0.8rem;
}

.chatOptions {
  background-color: white;
  padding: 0.5rem 1rem;
  border: 0.5px solid black;
  border-radius: 0.2rem;
  position: absolute;
  left: 8rem;
}

.chatOptions button {
  margin: 0 !important;
}
