.msg {
  padding: 0.5rem;
  position: relative;
  background-color: white;
  border: 0.5px solid gray;
  margin: 0 0 0.6rem 0;
  width: fit-content;
  min-width: 10rem;
  max-width: 97%;
  border-radius: 0.5rem;
  word-wrap: break-word;
}

.msgInfo {
  display: flex;
  justify-content: space-between;
}

.sender {
  display: flex;
  gap: 0.35rem;
}

.time {
  font-size: 0.75rem;
  margin: 0.3rem 0 0 0.3rem;
}

.msgText {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.msgEditForm input {
  width: 24rem;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0 0 0;
}
