.msgbox {
  position: relative;
  display: flex;
  flex-direction: column;
  border-top: 1px solid gray;
}

.msgForm form{
  display: flex;
  justify-content: center;
}

.msgForm{
  padding: 0.5rem 0 0.2rem 0;
}

.msgFormTextarea{
  width: 95%;
  background-color: #f4f2ee;
}

.controls {
  display: flex;
  border-top: 0.5px solid gray;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
}

.icons {
  display: flex;
  gap: 0.75rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.icon i {
  font-size: 1.2rem;
  color: #555;
}

.emojiPicker{
  position: absolute;
  bottom: 0;
  left:-20rem;
}

.media{
  position: relative;
  display: flex;
  align-items: center;
  gap:1rem;
}

.filename{
  position:absolute;
  left:2rem;
  display: flex;
  align-items: center;
  gap:2rem;
}

.xmark{
  margin: 0 0 0.5rem 0;
}


.hidden {
  display: none;
}
