.modal {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1000;
  max-height: 35rem;
  border-radius: 0.35rem;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.cross {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 1.3rem;
  z-index: 100;
}

.crossBox {
  display: inline-block;
}

.deleteModal{
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.deleteModalText{
  color:red;
  font-weight: 500;
}

.btns{
  display: flex;
  gap:0.5rem;
  justify-content: flex-end;
  margin:0.5rem 0 0 0 ;
}