.input {
  display: flex;
  flex-direction: column;
  gap:0.2rem;
  width: 100%;
}

.input input {
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.errorMsg {
  color: red;
  margin-bottom: 0.3rem;
}
