.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: white;
  height: 3.25rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.searchBarWithIcon{
  display: flex;
}

.searchBar{
  width: 20rem !important;
}

.searchBar input{
  padding:0 0.5rem 0 1rem;
  background-color: #edf3f8;
  height: 2.5rem;
  width: 10rem;
  border: none;
  margin: 0 8rem 0 0.7rem;
}

.navLinks{
  display: flex;
  gap:1.5rem;
}

.navLinks a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  text-decoration: none;
}

.navbar a:hover {
  color: #191919;
}

.navbar a span {
  font-size: 0.8rem;
  text-align: center;
  color: #666666;
}

.navbar a span:hover {
  color: #191919;
}

.bellIconBadge {
  position: absolute;
  right: 1.1rem;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1002d;
  border-radius: 50% !important;
  padding: 1px;
  color: white;
  height: 13px;
  width: 13px;
  border-radius: 10%;
}

.allUserProfiles {
  background-color: #edf3f8;
  overflow: auto;
  padding: 0.4rem 1rem 0.8rem 1rem;
  min-height: 10rem;
  max-width: 20rem;
  min-width: 23rem;
  overflow: auto;
  position: fixed;
  top: 3.3rem;
  left: 17rem;
  border-radius: 0.5rem;
}

.userProfile {
  display: flex;
  align-items: center;
  position: relative;
}

.userProfile .img img {
  height: 3.1rem;
  width: 3.1rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.userProfile .headline :first-child:hover {
  text-decoration: underline;
  cursor: pointer;
}

.myNetwork {
  background-color: white;
  width: 16rem;
  height: 11rem;
  border: 1px solid black;
  position: fixed;
  top: 3.3rem;
  border-radius: 0.35rem;
}

.myNetworkHeader{
  border-bottom: 1px solid gray;
  padding: 0.5rem 0 0.5rem 0.5rem;
  font-weight: 500;
  font-size: 1.3rem;
}

.myNetworkBody{
  display: flex;
  flex-direction: column;
}

.myNetworkBodyItem{
  display: flex;
  align-items: center;
  gap:0.5rem;
  padding: 0.6rem 0 0.6rem 1rem;
}

.myNetworkBodyItem i{
  font-size: 1.3rem;
  color: #666666;
}

.myNetworkBodyItem:hover{
  background-color: rgb(209, 204, 204);
  cursor:  pointer;
}
