.pollform {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 42rem;
  height: fit-content;
}

.head {
  border-bottom: 0.1px solid gray;
  padding: 0 0 0.5rem 0.5rem;
  font-weight: 500;
  font-size: 1.4rem;
}

.body form{
  display: flex;
  flex-direction: column;
  gap:0.75rem;
}

.option{
  display: flex;
  flex-direction: column;
  gap:0.5rem
}

.option > div{
  font-weight: 500;
}

.footer { 
  border-top: 1px solid black;
  display: flex;
  padding: 0.5rem 1rem 0.5rem 0;
  justify-content: flex-end;
}

.btns{
  display: flex;
  gap:0.75rem;
}
