.poll {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  height: fit-content;
  padding: 1rem;
  background-color: white;
  border-radius: 0.6rem;
  margin: 0.6rem 0 0.6rem 0;
}

.pollbody {
  margin: 1rem 0 0 0;
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 0.6rem;
}

.pollbody .ques {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0 2rem 0;
}

.pollbody .choices {
  display: flex;
  flex-direction: column;
}

.pollbody .pollInfo {
  position: relative;
  font-size: 0.85rem;
  color: #666666;
}

.pollInfo .undo {
  position: absolute;
  right: 0.5rem;
  color: #0a66c2;
  font-weight: 500;
  cursor: pointer;
}
