.optionBtn {
  position: absolute;
  right: 0rem;
  top: 5rem;
  background-color: white;
  border: none;
  font-size: 1.4rem;
}

.optionsBox {
  background-color: white;
  display: flex;
  flex-direction: column;
  border:0.1px solid black;
  width: 10rem;
  position: absolute;
  top: 0rem;
  right: 2rem;
  z-index: 50;
  border-radius: 0.2rem;
  padding: 0.7rem 0;
}

.optionsBox button {
  display: flex;
  align-items: center;
  gap:0.4rem;
  width: 100%;;
  background-color: transparent;
  text-align: start;
  padding: 0.6rem 0 0.6rem 1rem;
  border: none;
  font-size: 1rem;
}

.optionsBox button:hover {
  background-color: rgb(209, 204, 204);
  cursor:  pointer;
}

.optionsBox button i {
  font-size: 1.3rem;
}
