.btn {
  align-items: center;
  justify-items: center;
  width: fit-content;
  border: none;
  background-color: #0a66c2;
  color: white;
  border-radius: 1.5rem;
}

.btnText {
  text-align: center;
}
