.btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-items: center;
  width: fit-content;
  border: none;
  background-color: #0a66c2;
  color: white;
  border-radius: 1.5rem;
}

.btnText {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn:hover {
  cursor: pointer;
}
