.application {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0 0 0;
}

.applicationInfo{
  display: flex;
  align-items: center;
  gap:1rem;
}

.newTag,
.reviewedTag {
  border-radius: 0.35rem;
  height: fit-content;
  padding: 0.25rem 0.4rem;
  font-size: 0.85rem;
}

.newTag {
  background-color: rgb(235, 229, 229);
}

.reviewedTag {
  background-color: rgb(168, 220, 140);
}


