.jobDetail {
  position: relative;
  height: 95.6%;
  background-color: white;
  border: 1px solid gray;
  padding: 1rem;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap:0.5rem;
}

.companyInfo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.jobInfo {
  display: flex;
  flex-direction: column;
}

.jobTitle {
  font-weight: 500;
  font-size: 1.6rem;
  gap: 1rem;
}

.jobLocation {
  display: flex;
  align-items: center;
  color: #444444;
  font-size: 0.9rem;
}

.jobTypeAndMode {
  display: flex;
  gap: 0.5rem;
}

.jobTypeAndMode div {
  border-radius: 0.3rem;
  font-size: 0.9rem;
  padding: 0.25rem 0.4rem;
}

.jobTypeTag {
  background-color: rgb(232,232,232);
}

.jobModeTag {
  background-color: rgb(218, 235, 209);
}

.applicantTabButtons{
  display: flex;
  gap:0.5rem;
  margin-top: 0.5rem;
}

.aboutTheJob{
   display: flex;
   flex-direction: column;
   gap:1rem;
   margin-top: 1rem;
}

.header{
  font-size: 1.3rem;
  font-weight: 500;
}

.subtitle {
  font-weight: 500;
  font-size: 1rem;
}

.skills{
 display: flex;
 gap:0.5rem;
 margin-top: 0.5rem;
}

.skillTag {
  padding:0.2rem 0.5rem 0.3rem 0.5rem;
  border-radius: 0.8rem;
  background-color: lightblue;
}

.viewApplicantsButton{
  margin-top: 1rem;
}