.profileHeadForm {
  width: 42rem;
  max-height: 35rem;
}

.profileHeadForm form {
  display: flex;
  overflow-y:auto;
  flex-direction: column;
  gap: 0.5rem;
}

.imagesWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.previewImage{
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  align-items: center;
}

.previewImage img{
  height: 18rem;
  width: 18rem;
}

.hidden{
  display: none;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}
