.profileSectionCard {
  height: fit-content;
  width: 100%;
  display: flex;
  border-bottom: 0.5px solid black;
  padding: 0.6rem 0;
}

.profileSectionCard.editing {
  flex-direction: column;
}

.profileSectionCard span {
  font-size: 0.9rem;
}

.profileSectionCard p {
  margin: 0;
  color: black;
  font-size: 1.05rem;
}

.profileSectionCard .date {
  color: rgba(0, 0, 0, 0.65);
}

.profileSectionCard .img {
  margin: 0 0.7rem 0 0;
}

.profileSectionCard .img img {
  height: 3.5rem;
  width: 3.5rem;
}

.profileSectionCard i {
  font-size: 1.2rem;
  position: absolute;
  right: 1.6rem;
}
