.profile {
  position: absolute;
  top: 7rem;
  left: 13rem;
  overflow: auto;
}

.head span {
  font-size: 1.3em;
  font-weight: 600;
}

.section {
  background-color: white;
  min-height: 10rem;
  height: fit-content;
  width: 47rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.bodyyy {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-around;
  align-items: center;
}

.bodyyy div {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0 0.6rem 0;
  width: 21.5rem;
  height: 3.2rem;
  border-radius: 0.4rem;
  padding: 1rem 0.5rem;
  background-color: beige;
  border: 1px solid gray;
}

.bodyyy div:hover {
  cursor: pointer;
}

.downloadPdf {
  padding: 0.4rem 0.75rem;
  width: fit-content;
  border: none;
  background-color: white;
  border: 1px solid #0a66c2;
  border-radius: 1.5rem;
  margin-left: 1rem;
  font-size: 0.9rem;
}

.btn {
  padding: 0.3rem;
  border-radius: 1rem;
  color: #0a66c2;
  width: fit-content;
  border: 1px solid #0a66c2;
  background-color: transparent;
}

.head {
  display: flex;
  justify-content: space-between;
}

.head span {
  font-size: 1.5rem;
  text-decoration: underline;
}

.icons i {
  font-size: 1.4rem;
  margin-left: 1.8rem;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1px solid black;
  font-size: 1.15rem;
  padding: 1rem 0;
}
